@media (min-width: 992px ) {

    .header__burger-desktop {
        display: block;
        position: absolute;
        left: 22px;
        top: 20px;
        width: 30px;
        height: 20px;
        z-index: 8;
    }
    
    .header__burger-desktop span {
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        top: 8px;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s ease-in;
    }
    
    .header__burger-desktop::before, .header__burger-desktop::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s ease-in;
    }
    
    .header__burger-desktop::before {
        top: 0;
    }
    
    .header__burger-desktop::after {
        bottom: 0;
    }
    
    .header__burger-desktop.active::before{
        transform: rotate(45deg);
        top: 8px;
        background-color: rgb(255, 255, 255);
    }
    
    .header__burger-desktop.active::after{
        transform: rotate(-45deg);
        bottom: 8px;
        background-color: rgb(255, 255, 255);
    }
    
    .header__burger-desktop.active span {
        transform: scale(0);
    }
}